body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: rgb(231, 140, 140);}
  #News {background-color: rgb(98, 182, 238);}
  #Contact {background-color: rgb(0, 255, 128);}
  #About {background-color: rgb(165, 67, 64);}